h2 {
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  margin-left: 30px;
  padding: 20px;
}

.formulario {
  margin-left: 30px;
}


p, article form legend {
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  margin-left: 30px;
  padding: 10px;
}

div label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  margin-left: 30px;
  padding-inline-start: 20px;
}
